{% set title="Home Page" %}
{%  extends "base.twig" %}
{% block content %}
    <h1> {{ title }}</h1>
    {%  include "navigation.twig" %}
    <h2>Wonderful Content</h2>
    <p>
        Here is some content about the page
    </p>
{% endblock %}


